@use '@angular/material' as mat;
@use 'util';
@use 'var' as var;

a,
a:active,
a:visited {
  @include util.auto-dark-mode() using ($background, $foreground) {
    color: mat.get-color-from-palette($foreground, text);
    text-decoration: none;
    font-weight: 500;
  }
}
a:hover,
a:focus {
  @include util.auto-dark-mode() using ($background, $foreground) {
    color: mat.get-color-from-palette(var.$theme-accent, default);
    text-decoration: underline;
  }
}
