<div
  *ngIf="column"
  fxLayout="row inline"
  fxLayoutAlign="{{
    column.alignment === columnAlignment.RIGHT
      ? 'end'
      : column.alignment === columnAlignment.CENTER
      ? 'center'
      : 'start'
  }} center"
  class="row-header-content"
  (mouseenter)="column.hover = true"
  (mouseleave)="column.hover = false"
>
  <ng-container
    *ngIf="column.alignment === columnAlignment.RIGHT"
    [ngTemplateOutlet]="columnButtons"
  ></ng-container>

  <span
    [mat-sort-header]="column.name"
    [arrowPosition]="
      column.alignment === columnAlignment.RIGHT ? 'before' : 'after'
    "
    [disabled]="!column.sortable"
    [matTooltip]="column.headerTooltip || ''"
    [matTooltipShowDelay]="1000"
  >
    {{ column.label || column.name }}
    <!-- insert customColumnHeaderDef if it is defined for this column -->
    <ng-container
      *ngIf="getCustomColumnHeaderDefByName(column.name) as customColumnHeader"
    >
      <!-- insert customColumnHeaderDef template here and inject row as context -->
      <ng-container *ngTemplateOutlet="customColumnHeader.templateRef">
      </ng-container>
    </ng-container>
  </span>

  <ng-container
    *ngIf="column?.alignment !== columnAlignment.RIGHT"
    [ngTemplateOutlet]="columnButtons"
  ></ng-container>

  <!-- <span *ngIf="column.sortable === true" [mat-sort-header]="column.name"></span> -->

  <ng-template #columnButtons>
    <eta-collection-filter
      *ngIf="column.filterable"
      [compact]="true"
      [showTriggerIcon]="
        (column?.hover === undefined ? false : column?.hover) ?? false
      "
      [attribute]="column"
      [(collectionSettings)]="tableSettings"
      (collectionSettingsChange)="tableSettingsChange.emit(tableSettings)"
    ></eta-collection-filter>

    <!-- TODO: uncomment below code its needed -->
    <!--
    <eta-table-grouping-menu
      [column]="column"
      [(tableSettings)]="tableSettings"
      (tableSettingsChange)="tableSettingsChange.emit(tableSettings)"
      [dataSource]="dataSource"
    ></eta-table-grouping-menu> -->
  </ng-template>
</div>
